.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

select {
  padding: 10px;
}

button {
  padding: 10px;
  font-size: 12px;
}

table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

th {
  font-size: 20px;
  padding: 20px;
}

.averages {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.err_msg {
  font-size: 20px;
  text-align: center;
  margin-top: 50vh;
}
